
.menu-item{
  font-family: var(--primary-font);
  color: white;
  opacity: .5;
  cursor: pointer;
}

.menu-item-active{
  opacity: 1;
  color: yellow;
  font-size: larger;
}

.menu-item:hover{ 
  opacity: 1;
}
