@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body{
  background-color:rgb(10, 10, 10);
  padding: 0;
  margin: 0;
}

.app{
  height: 100%;
  width: 100%;
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
}